/*
 * ESP32-C3 Super Mini Zephyr overlay.
 *
 * The upstream esp32c3_supermini board already selects USB Serial/JTAG console
 * and the common GPIO8 LED. This overlay adds SquidScript's logical
 * indicator0 PWM binding for smooth indicator output.
 */

#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
	};

	aliases {
		indicator0 = &pwm_indicator;
		led0 = &blue_led;
		pwm-0 = &ledc0;
		pwm-led0 = &pwm_indicator;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led_0 {
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
			label = "ESP32-C3 Super Mini common clone onboard LED";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_indicator: pwm_led_0 {
			pwms = <&ledc0 0 1000000 PWM_POLARITY_NORMAL>;
			label = "ESP32-C3 Super Mini common clone onboard LED PWM";
		};
	};
};

&pinctrl {
	ledc0_default: ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO8>;
			output-enable;
		};
	};
};

&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};
