/*
 * SquidScript XTEINK X4 overlay.
 *
 * The upstream ESP32-C3 DevKitM board supplies the generic ESP32-C3 SoC,
 * Wi-Fi, Bluetooth HCI, and flash tooling defaults. This overlay describes
 * the XTEINK X4 device wiring used by SquidScript firmware.
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pinctrl/esp32c3-pinctrl.h>

/ {
	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
	};

	/delete-node/ gpio_keys;

	aliases {
		/delete-property/ sw0;
		display0 = &squidscript_epaper;
		epaper0 = &squidscript_epaper;
		sdhc0 = &sdcard;
	};

	fstab {
		compatible = "zephyr,fstab";

		sd_content: sd_content {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/SD:";
		};
	};

	squidscript_epaper: squidscript_epaper {
		compatible = "squidscript,ssd1677-gdeq0426t82";
		spi = <&spi2>;
		cs-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		width = <800>;
		height = <480>;
	};
};

&pinctrl {
	spim2_xteink_x4_default: spim2_xteink_x4_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO7>,
				 <SPIM2_SCLK_GPIO8>,
				 <SPIM2_MOSI_GPIO10>;
			output-low;
		};
	};
};

&uart0 {
	status = "disabled";
};

&usb_serial {
	status = "okay";
};

&i2c0 {
	status = "disabled";
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spim2_xteink_x4_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;

	sdcard: sdcard@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <400000>;

		sdmmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
	};
};

&flash0 {
	reg = <0x0 DT_SIZE_M(16)>;
	ranges = <0x0 0x0 DT_SIZE_M(16)>;

	partitions {
		/delete-node/ partition@1e0000;
		/delete-node/ partition@3a0000;
		/delete-node/ partition@3a8000;
		/delete-node/ partition@3b0000;
		/delete-node/ partition@3e0000;
		/delete-node/ partition@3ff000;

		slot1_partition: partition@7e0000 {
			compatible = "zephyr,mapped-partition";
			label = "image-1";
			reg = <0x7e0000 DT_SIZE_K(7936)>;
		};

		slot0_lpcore_partition: partition@fa0000 {
			compatible = "zephyr,mapped-partition";
			label = "image-0-lpcore";
			reg = <0xfa0000 DT_SIZE_K(32)>;
		};

		slot1_lpcore_partition: partition@fa8000 {
			compatible = "zephyr,mapped-partition";
			label = "image-1-lpcore";
			reg = <0xfa8000 DT_SIZE_K(32)>;
		};

		storage_partition: partition@fb0000 {
			compatible = "zephyr,mapped-partition";
			label = "storage";
			reg = <0xfb0000 DT_SIZE_K(192)>;
		};

		scratch_partition: partition@fe0000 {
			compatible = "zephyr,mapped-partition";
			label = "image-scratch";
			reg = <0xfe0000 DT_SIZE_K(124)>;
		};

		coredump_partition: partition@fff000 {
			compatible = "zephyr,mapped-partition";
			label = "coredump";
			reg = <0xfff000 DT_SIZE_K(4)>;
		};
	};
};

&slot0_partition {
	reg = <0x20000 DT_SIZE_K(7936)>;
};
